.AllHotels {
  padding: 10px 15%;
}
.hotel {
  display: flex;
  /* justify-content: space-between; */
  box-shadow: 0 0 5px rgb(36, 35, 35);
  padding: 10px;
  /* margin: 20px 30px; */
  width: 80%;
  margin: auto;
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 10px;
}
.allHotelsHeading-cont {
  display: flex;
  justify-content: center;
}
.allHotelsHeading {
  text-align: center;
  font-size: 3rem;
  margin: 20px 0;
  border-bottom: 3px solid #050c9c;
  display: inline-block;
}
.hotelSearchBarContainer {
  background-color: #2276e3;
  width: 100%;
  padding: 5px 0;
}
.hotel:hover {
  outline: 3px solid #f4651e;
}
.hotelImgCont {
  width: 230px;
  height: 180px;
  margin-right: 10px;
}
.hotelImgCont img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  border-radius: 20px;
}
.HotelNameCont {
  width: 400px;
  margin-left: 20px;
}
.HotelNameCont h2 {
  margin-bottom: 7px;
  font-size: 1.8rem;
}
.stars {
  font-size: 22px;
  margin-left: 10px;
}
.HotelNameCont > p {
  margin-bottom: 10px;
}
.hotelPriceCont {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
  flex: 1;
}
.facilities {
  margin-top: 15px;
}
.cancellation {
  margin-top: 10px;
  color: green;
  font-size: 1.1rem;
  font-weight: 25px;
  /* background-color: #ace1af; */
}
.check {
  color: green;
  padding: 2px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 10px;
}
.ratingCont {
  margin: 10px 0;
}
.rating {
  background-color: #050c9c;
  color: white;
  padding: 5px;
  font-weight: 600;
  border-radius: 6px;
}
.Hotelprice {
  color: #f4651e;
  font-weight: 600;
  font-size: 1.4rem;
}

@media screen and (max-width: 1400px) {
  .AllHotels {
    padding: 10px 10%;
  }
}
@media screen and (max-width: 1200px) {
  .AllHotels {
    padding: 10px 7%;
  }
  .hotel {
    width: 90%;
  }
}
@media screen and (max-width: 1080px) {
}
@media screen and (max-width: 992px) {
  .AllHotels {
    padding: 10px 5%;
  }
  .hotel {
    width: 100%;
  }
  .hotelImgCont {
    width: 180px;
    height: 150px;
    margin-right: 0;
    align-self: center;
  }
}
@media screen and (max-width: 786px) {
  .allHotelsHeading {
    font-size: 2rem;
  }
  .AllHotels {
    padding: 10px 3%;
  }
  .hotel {
    width: 100%;
    padding: 8px;
  }
  .hotelImgCont {
    width: 130px;
    height: 110px;
    margin-right: 0;
    align-self: center;
  }
  .HotelNameCont h2 {
    font-size: 1.5rem;
  }
  .facilities p {
    font-size: 0.9rem;
  }
  .Hotelprice {
    font-size: 1.2rem;
  }
  .HotelNameCont {
    margin-left: 10px;
    width: 300px;
  }
  .cancellation {
    font-size: 0.9rem;
  }
  .rating {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .hotelImgCont {
    width: 110px;
    height: 100px;
    margin-right: 0;
    align-self: center;
  }
  .HotelNameCont h2 {
    font-size: 1.2rem;
  }
  .hotelName + p {
    font-size: 0.9rem;
  }
  .facilities {
    margin-top: 5px;
  }
  .facilities p {
    font-size: 0.9rem;
  }
  .Hotelprice {
    font-size: 1rem;
  }
  .Hotelprice + p {
    font-size: 0.75rem;
  }
  .HotelNameCont {
    margin-left: 10px;
    width: 245px;
    margin-right: 10px;
  }
  .cancellation {
    font-size: 0.9rem;
  }
  .rating {
    font-size: 0.8rem;
    margin-left: 30px;
    margin-top: 4px;
    display: inline-block;
  }
}
@media screen and (max-width: 480px) {
  .hotelImgCont {
    width: 90%;
    height: 150px;
    margin-right: 0;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .HotelNameCont h2 {
    font-size: 1.2rem;
  }
  .hotel {
    flex-direction: column;
    /* align-items: center; */
    width: 90%;
  }
  .hotelName + p {
    font-size: 0.8rem;
  }
  .facilities {
    margin-top: 5px;
  }
  .facilities p {
    font-size: 0.8rem;
  }
  .Hotelprice {
    font-size: 0.9rem;
  }
  .Hotelprice + p {
    font-size: 0.75rem;
  }
  .HotelNameCont {
    margin-left: 10px;
    width: 90%;
    margin-right: 10px;
  }
  .cancellation {
    font-size: 0.9rem;
  }
  .ratingCont {
    font-size: 0.9rem;
  }
  .rating {
    font-size: 0.7rem;
    margin-left: 5px;
    margin-top: 4px;
    display: inline-block;
  }
}
@media screen and (max-width: 380px) {
  .hotelImgCont {
    width: 95%;
    height: 120px;
    margin-right: 0;
    align-self: center;
  }
  .HotelNameCont h2 {
    font-size: 0.9rem;
  }
  .hotelName + p {
    font-size: 0.7rem;
  }
  .facilities {
    margin-top: 5px;
  }
  .facilities p {
    font-size: 0.7rem;
  }
  .Hotelprice {
    font-size: 0.9rem;
  }
  .Hotelprice + p {
    font-size: 0.75rem;
  }
  .HotelNameCont {
    margin-left: 10px;
    width: 220px;
    margin-right: 10px;
  }
  .cancellation {
    font-size: 0.7rem;
    margin-top: 7px;
  }
  .ratingCont {
    font-size: 0.9rem;
  }
  .rating {
    font-size: 0.7rem;
    margin-left: 5px;
    margin-top: 4px;
    display: inline-block;
  }
  .check {
    font-size: 8px;
  }
  hr {
    margin: 0.5rem 0;
  }
}
