.FlightBackgroundImg {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.FlightBackgroundImg img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.FlightBackgroundImg h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  /* background-color: rgba(37, 36, 36, 0.507); */
  background-color: rgba(30, 29, 29, 0.518);
  opacity: 1;
  z-index: 2;
  text-shadow: 0px 0px 20px black;
  color: rgb(255, 245, 245);
  font-size: 4.5rem;
}
.flightSearchContainer {
  padding: 0 10%;
  margin: 20px auto;
}
.FlightSearchform {
  background-color: white;
  display: flex;
  gap: 10px;
  padding: 10px 15px 10px 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgb(37, 37, 37), -1px -1px 3px rgb(39, 38, 38);
}
.origin-input-field {
  height: 40px;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 120px;
  padding-left: 5px;
}
.destination-input-field {
  height: 40px;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 120px;
  padding-left: 5px;
}
#noOfPersons {
  width: 50px;
}
#flightClass {
  height: 40px;
  border: none;
  outline: none;
  font-size: 1rem;
  padding-left: 5px;
}
.shiftValues {
  cursor: pointer;
}
.shiftValues i {
  font-size: 1.2rem;
}
#location,
#noOfPersons,
#date {
  border: none;
  outline: none;
  height: 40px;
  font-size: 1rem;
  padding-left: 4px;
}
#noOfPersons {
  width: 80px;
}
#location::placeholder {
  font-size: 0.9rem;
  padding-left: 2px;
}
.flightSearchIcon {
  font-size: 1.4rem;
  color: #f4651e;
  margin-right: 7px;
}
.FlightsearchBtn {
  border: none;
  height: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: #f4651e;
  padding: 10px;
  border-radius: 10px;
}
.searchBtn i {
  font-size: 16px;
  margin-right: 8px;
}
.searchBtnContainer {
  height: inherit;
  display: flex;
  align-items: center;
}
.FlightSearchform div {
  margin: 5px 5px;
}
#flightClass {
  margin-right: 7px;
}
.shiftValues {
  margin: 0 7px;
}

/* Popular Flights */

.popularFlightsContainer {
  padding: 20px 8%;
}
.popularFlightsContainer h1 {
  margin-bottom: 15px;
}
.popularFlights {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.popFlight {
  width: 280px;
  height: 300px;
  cursor: pointer;
}
.popFlightImg {
  width: 100%;
  height: 80%;
}
.popFlightImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.popFlight h4 {
  margin-top: 10px;
  font-size: 1.1rem;
}

@media screen and (max-width: 1400px) {
  .popularFlightsContainer {
    padding: 20px 6%;
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {
  .flightSearchContainer {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1024px) {
  .flightSearchContainer {
    padding: 0 2%;
  }
  .popFlight {
    width: 260px;
    height: 280px;
  }
}
@media screen and (max-width: 992px) {
  .FlightBackgroundImg h1 {
    font-size: 4rem;
  }
  .popFlight {
    width: 210px;
    height: 240px;
  }
}
@media screen and (max-width: 768px) {
  .FlightBackgroundImg h1 {
    font-size: 3.5rem;
  }
  .popFlight {
    width: 210px;
    height: 240px;
  }
  .popularFlightsContainer h1 {
    font-size: 1.3rem;
  }
  .popFlight h4 {
    font-size: 1rem;
  }
  .popularFlights {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .FlightBackgroundImg h1 {
    font-size: 3rem;
  }
  .popFlight {
    width: 200px;
    height: 230px;
  }
  .popularFlights {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  #origin,
  #destination {
    width: 90px;
    font-size: 0.8rem;
  }
  .FlightBackgroundImg h1 {
    font-size: 2.5rem;
  }
  .popFlight {
    width: 150px;
    height: 180px;
  }
  .popFlight h4 {
    font-size: 0.9rem;
  }
  .popularFlights {
    justify-content: center;
  }
}
@media screen and (max-width: 380px) {
  .searchBtn {
    font-size: 0.8rem;
  }
  .searchBtn i {
    font-size: 14px;
  }
  .FlightBackgroundImg h1 {
    font-size: 2rem;
  }
}
