.tripsUpperContainer {
  background-color: #2276e3;
  color: white;
  height: 120px;
  padding: 20px 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tripsUpperContainer h2 {
  /* font-size: 2rem; */
  margin-bottom: 0;
}
a {
  color: white;
}
.myTripLinks {
  font-size: 1.2rem;
  margin-right: 50px;
  padding: 3px 6px;
}

.linkActive {
  padding: 3px 6px;
  border: 2px solid #afdf40;
  border-radius: 10px;
  background-color: #f5ee6d;
  color: black;
}
.myTripLinks:hover {
  /* background-color: #f67e42;
  
  color: black; */
  border-radius: 10px;
  background-color: #3fa2f6;
}
.tripsLowerContainer {
  padding: 20px 12%;
}
.myPackages {
  display: flex;
}
.mypackageImgContainer {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  cursor: pointer;
}
.mypackageImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.packageContainer {
  width: 240px;
  height: 240px;
  padding: 10px;
  /* cursor: pointer; */
  box-shadow: 0 0 20px rgb(47, 46, 46);
  margin-right: 20px;
}
.myPackageDetails h3 {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
}
.myPackageDetails p {
  margin: 5px 0;
}
.cancelPackage button {
  border: none;
  outline: none;
  color: rgba(192, 29, 29, 0.702);
  background-color: transparent;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  z-index: 90;
  position: relative;
}
.cancelPackage {
  display: flex;
  justify-content: end;
}
.noBookingPackages {
  text-align: center;
}
.noBookingPackages h2,
.noBookingPackages p {
  margin: 10px 0;
}
.noBookingPackages button {
  width: 170px;
  height: 35px;
  border: none;
  outline: none;
  background-color: #f4651e;
  font-size: 1.1rem;
  font-weight: 22px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .tripsLowerContainer {
    padding: 20px 7%;
  }
}
@media screen and (max-width: 786px) {
  .tripsUpperContainer {
    padding: 20px 8%;
  }
  .packageContainer {
    width: 200px;
    height: 230px;
  }
  .mypackageImgContainer {
    height: 100px;
  }
  .myPackageDetails p {
    margin: 3px 0;
    font-size: 0.9rem;
  }
  .myPackageDetails span {
    font-size: 0.9rem;
  }
  .tripsLowerContainer {
    padding: 20px 4%;
  }
  .myFlightsContainer {
    padding: 10px;
  }
  .flightTable {
    width: 220px;
    height: 180px;
  }
  .flightTable td {
    font-size: 0.9rem;
  }
  .myTripLinks {
    margin-right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .tripsUpperContainer {
    padding: 20px 5%;
  }
  .myTripLinks {
    margin-right: 20px;
    font-size: 1rem;
  }
  .packageContainer {
    width: 170px;
    height: 220px;
    padding: 7px;
  }
  .mypackageImgContainer {
    height: 90px;
    margin-bottom: 6px;
  }
  .myPackageDetails {
    height: 55%;
    display: flex;
    flex-direction: column;
  }
  .myPackageDetails p {
    margin: 3px 0;
    font-size: 0.9rem;
  }
  .myPackageDetails span {
    font-size: 0.9rem;
  }
  .tripsLowerContainer {
    padding: 20px 8%;
  }
  .cancelPackage {
    justify-self: flex-end;
  }
  .noBookingPackages h2 {
    font-size: 1.4rem;
  }
  .noBookingPackages p {
    font-size: 0.9rem;
  }
  .noBookingPackages button {
    width: 150px;
    font-size: 1rem;
  }
  .linkActive {
    padding: 3px 3px;
  }
}
@media screen and (max-width: 480px) {
  .tripsUpperContainer {
    padding: 20px 0 0 5%;
  }
  .myTripLinks {
    margin-right: 10px;
    font-size: 0.9rem;
  }
  .linkActive {
    border-bottom: 3px solid #afdf40;
  }
  .packageContainer {
    width: 160px;
    height: 200px;
    padding: 7px;
  }
  .mypackageImgContainer {
    height: 80px;
    margin-bottom: 6px;
  }
  .myPackageDetails h3 {
    font-size: 0.9rem;
  }
  .myPackageDetails p {
    margin: 3px 0;
    font-size: 0.8rem;
  }
  .myPackageDetails span {
    font-size: 0.8rem;
  }
  .tripsLowerContainer {
    padding: 20px 6%;
  }
  .cancelPackage button {
    font-size: 0.8rem;
  }
  .noBookingPackages h2 {
    font-size: 1.2rem;
  }
  .noBookingPackages p {
    font-size: 0.8rem;
  }
  .noBookingPackages button {
    width: 120px;
    font-size: 0.8rem;
  }
  .noBookingPackages button {
    height: 30px;
  }
}
