.servicesContainer {
  padding: 20px 10%;
}
.servicesContainer > div:first-child {
  display: flex;
  justify-content: center;
}
.servicesContainer > div:first-child h1 {
  font-size: 3rem;
  border-bottom: 3px solid #f4651e;
  padding-bottom: 5px;
}
.services {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.singleService {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.singleService i {
  font-size: 2.5rem;
  color: #f4651e;
}
.singleService h1 {
  font-size: 1.5rem;
}
.singleService p {
  line-height: 21px;
  text-align: justify;
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  .servicesContainer {
    padding: 20px 6%;
  }
}
@media screen and (max-width: 1080px) {
  .servicesContainer {
    padding: 20px 3%;
  }
  .singleService {
    width: 270px;
  }
}
@media screen and (max-width: 992px) {
  .servicesContainer > div:first-child h1 {
    font-size: 2.5rem;
  }
  .singleService {
    width: 280px;
  }
  .singleService h1 {
    font-size: 1.3rem;
  }
  .singleService i {
    font-size: 2rem;
  }
}
@media screen and (max-width: 786px) {
  .servicesContainer > div:first-child h1 {
    font-size: 2.2rem;
  }
  .singleService {
    width: 250px;
  }
  .singleService h1 {
    font-size: 1.2rem;
  }
  .singleService i {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 576px) {
  .servicesContainer > div:first-child h1 {
    font-size: 2rem;
  }
  .singleService {
    width: 200px;
  }
  .singleService h1 {
    font-size: 1.1rem;
  }
  .singleService i {
    font-size: 1.5rem;
  }
  .singleService p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  .servicesContainer > div:first-child h1 {
    font-size: 1.8rem;
  }
  .singleService {
    width: 150px;
  }
  .singleService h1 {
    font-size: 0.9rem;
  }
  .singleService i {
    font-size: 1.4rem;
  }
  .singleService p {
    font-size: 0.7rem;
    line-height: 19px;
  }
}

@media screen and (max-width: 380px) {
  .servicesContainer {
    padding: 20px 2%;
  }
  .singleService i {
    font-size: 1.3rem;
  }
  .singleService {
    width: 140px;
  }
}
